/* ========== Common Styles ========== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
    background-color: #ffffff;
}

p {
    padding-bottom: 20px;
}

h2, h3, h4 {
    color: #333;
    margin-bottom: 10px; 
}

button {
    background-color: black;    
    color: white;
    padding: 15px 30px;
    border: 2px solid black; 
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease; 
}


.highlight {
    color: white; 
}

/* ========== Header ========== */
header {
    background-color: #fdd1cd;  
    padding: 20px 50px;         
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h2 {
    font-size: 24px;            
    margin: 0;
    color: black;
}

nav a {
    text-decoration: none;
    color: black;               
    margin: 0 10px;
    font-weight: bold;
}

/* ========== Home Section ========== */
.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fdd1cd;
    padding: 80px 100px;        
}

.home-content {
    max-width: 60%;             
}

.home-content h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: black;
}

.home-content h2 {
    font-size: 40px;            
    font-weight: bold;
    color: black;
}

.home-content p {
    font-size: 18px;
    margin: 20px 0;
    color: black;               
}

.home img {
    max-width: 350px;           
}

/* ========== About Me Section ========== */
.about {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}

.about img {
    width: 45%;
    margin-right: 30px;
    border-radius: 10px;
}

.about-text {
    width: 50%;
}

.about-text h3 {
    font-size: 32px;
    margin-bottom: 20px;
}

.about-text p {
    font-size: 16px;
    line-height: 1.6;
}

/* ========== Skills Section ========== */
.skills {
    padding: 50px;
    background-color: #FADBD8;
    text-align: center; 
}

.skills h3 {
    font-size: 32px;
    margin-bottom: 40px;
    font-weight: bold;
    color: black;
}

.skills-container {
    display: flex;
    justify-content: center; 
    gap: 60px;
    flex-wrap: wrap;
}

.skills-column {
    flex: 1; 
    min-width: 150px; 
}

.skills-column h4 {
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #000;
}

.skills-column ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.skills-column li {
    display: inline-block;
    margin: 4px 3px;
    padding: 5px 10px;
    background-color: #FFF;
    border: 1px solid #666;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 300;
    color: #000;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* ========== Works Section ========== */
.works {
    text-align: center;
    padding: 50px 100px;
    background-color: #fff;
}

.works h3 {
    font-size: 32px;
    margin-bottom: 40px;
    font-weight: bold;
    color: black;
}

.work-item {
    background-color: #ffdcdb;
    margin-bottom: 30px;
    padding: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    transition: transform 0.3s ease;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.work-item .text-content {
    width: 60%; 
}

.work-item .cover {
    width: 35%;
    text-align: right;
}

.work-item .cover img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.work-item .text-content h4 {
    font-size: 40px;            
    font-weight: bold;          
    color: black;               
    margin-bottom: 20px;        
}

.work-item .text-content p {
    font-size: 18px;            
    color: black;               
    margin: 20px 0;             
}

/* ========== Contact Section ========== */
.contact {
    padding: 50px;
    text-align: center;
}

.contact h3 {
    font-size: 28px;
    margin-bottom: 20px;
}

.contact p {
    font-size: 16px;
    margin-bottom: 10px;
}

.contact p:last-of-type {
    margin-top: 40px;
    font-size: 14px;
    color: #777;
}

.contact {
    background-color: #FADBD8;
    padding: 50px;
    text-align: center;
}

.contact h3 {
    font-size: 28px;
    margin-bottom: 20px;
}

.contact p {
    font-size: 16px;
    margin-bottom: 10px;
}

.icon {
    width: 20px; 
    margin-right: 10px;
}

.social-icons {
    margin-top: 20px;
}

.social-icon {
    width: 30px; 
    margin: 0 15px; 
}

.contact a {
    text-decoration: none;    
    color: black;              
    font-weight: bold;         
    transition: color 0.3s ease; 
}

.footer-text {
    margin-top: 40px;
    font-size: 12px; 
    color: #777;
}

/* ========== Other Work Page ========== */
.project {
    padding: 50px 0; 
}

.project-content {
    max-width: 800px; 
    margin: 0 auto; 
    text-align: center; 
}

.project-images {
    display: flex; 
    justify-content: center; 
    gap: 10px; 
}

.project-images img { 
    border-radius: 10px; 
}

.single image{
    padding-left: 50px;
    padding-right: 100px;
}

.single-image .about {
    display: flex;
    align-items: center;
    padding: 50px;
    background-color: #fff;
}

.single-image .about-text {
    width: 60%;
    padding-right: 30px;
}

.single-image img {
    width: 35%;
    max-width: 350px;
    border-radius: 10px;
}

.project-details {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}

.project-details img {
    width: 45%;
    margin-right: 30px;
    border-radius: 10px;
}

.project-content {
    width: 50%;
}

.project-content h3 {
    font-size: 32px;
    margin-bottom: 20px;
}

.project-content p {
    font-size: 16px;
    line-height: 1.6;
}